.am-assets-page {
  padding: 1.5rem;
  width: 100%;
}

.large-modal {
  width: 90%;
  max-width: 900px;
}

.col-3 {
  grid-template-columns: repeat(1, 1fr);
}
@media (min-width: 768px) {
  .col-3 {
    grid-template-columns: repeat(3, 1fr);
  }
}

.col-2 {
  grid-template-columns: repeat(1, 1fr);
}
@media (min-width: 768px) {
  .col-2 {
    grid-template-columns: repeat(2, 1fr);
  }
}

.border-dashed {
  border-style: dashed;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
